@use 'variables';

.buttons {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$red;
        
        &:hover {
            background-color: darken(variables.$red, 10%);
            transform: scale(1.05);
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}
